<section>
  
  <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmit(userForm)">
    <div>

      <!-- First Name -->

      <label for="firstName">First Name</label>

      <input id="firstName" type="text" placeholder="First Name" formControlName="firstName" [ngClass]="{'valid' : firstName.valid && (firstName.touched || firstName.dirty),
    'invalid' :  firstName.invalid && (firstName.touched || firstName.dirty)}" />

      <span class="errorMessage" *ngIf="(firstName.touched || firstName.dirty) && firstName.errors?.required">You must enter at least 2 characters.</span>

      <span class="errorMessage" *ngIf="(firstName.touched || firstName.dirty) && firstName.errors?.isYourName">Thats my name to!</span>


      <!-- LastName -->
      <label for="lastName"> Last Name</label>

      <input id="lastName" type="text" placeholder="Last Name" formControlName="lastName" [ngClass]="{'valid': lastName.valid && (lastName.touched || lastName.dirty),
  'invalid': lastName.invalid && (lastName.touched || lastName.dirty)}" />

      <span class="errorMessage" *ngIf="(lastName.touched ||lastName.dirty) && lastName.errors?.required">You must enter at least 2 characters!</span>
      <span class="errorMessage" *ngIf="(lastName.touched ||lastName.dirty) && lastName.errors?.isYourLastName">Thats my name to!</span>


      <label for="email">Email</label>

      <input id="email" type="text" placeholder="email" formControlName="email" [ngClass]="{'valid': email.valid && (email.touched || email.dirty),
  'invalid': email.invalid && (email.touched || email.dirty)}" />

      <span class="errorMessage" *ngIf="(email.touched || email.dirty) && email.errors?.required">You must enter a correct email adress</span>


      <!-- Description  -->

      <label for="description">Tell us about yourself!</label>

      <textarea placeholder="I love biking and to eat cheese..." class="description" name="description" formControlName="description" [ngClass]="{'valid': description.valid && (description.touched || description.dirty),
    'invalid': description.invalid && (description.touched || description.dirty)}"></textarea>

      <p>{{userForm.value?.description.length}}/20</p>

      <span class="errorMessage" *ngIf="(description.touched || description.dirty) && description.errors?.minlength">
        you must write at least 20 characters </span>

      <!-- Education -->

      <label for="education">Education</label>
      <input id="education" type="text" placeholder="Education" formControlName="education" [ngClass]="{'valid': education.valid && (education.touched || education.dirty),
  'invalid': education.invalid && (education.touched || education.dirty)}" />

      <span class="errorMessage" *ngIf="(education.dirty || education.touched) && education.errors?.minlength ">You must enter atleast 5 characters</span>

      <!-- Year of Examination -->
      <label for="year">Year of Examination</label>

      <input id="year" type="text" placeholder="Year of Examination" formControlName="yearOfExamination" [ngClass]="{'valid': examination.valid && (examination.touched || examination.dirty),
  'invalid': examination.invalid && (examination.touched || examination.dirty)}" />

      <span class="errorMessage" *ngIf="(examination.dirty || examination.touched) && examination.errors?.pattern">You must enter a Number</span>
      <span class="errorMessage" *ngIf="(examination.dirty || examination.touched) && examination.errors?.max">You cannot go over 9000, because it's over 9000!!!</span>

    </div>

    <!--Compentens-->
    <!-- TODO: Create list -ish -->

    <div>




    </div>

    <button type="submit" [disabled]="!userForm.valid">Send!</button>

  </form>

  <!--  -->


</section>
