@import '../shared/variables';

section {
  background-image: url("../../assets/butter.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    margin-top: 20px;
    width: 80%;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    input {
      margin-top: 20px;
      outline: none;
      padding: 20px;
      width: 300px;
      display: block;
      background-color: $color-white;

      &::placeholder {
        color: black;
        font-size: 16px;
      }
    }

    label {
      margin-top: 10px;
      margin-bottom: 10px;
      color: $color-white;
    }

    .description {
      width: 300px;
      height: 200px;
      overflow: auto;
      resize: none;
      background: gray center center no-repeat;
      margin-top: 20px;
      display: block;
      padding: 10px;

      &::placeholder {
        color: black;
      }
    }

    button {
      background-color: gray;
      margin-top: 20px;
      padding: 3px 20px;
    }
  }

  .checkVal {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
  }
}

h4,
p {
  color: $color-white;
}

span {
  color: $color-white;
  display: block;
}

.errorMessage {
  color: red;
}

.invalid {
  transition: 0.4s;
  border-left: 5px solid red;
}

.valid {
  transition: 0.4s;
  border-left: 5px solid green;
}

select {
  height: 30px;
}
